* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef2f7;
    padding: 20px;
}

.bank-container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.balance-card {
    background: indianred;
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
}

#balance {
    font-size: 28px;
    margin-top: 10px;
}

.transaction-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#depositBtn {
    background: lightpink;
    color: white;
}

#withdrawBtn {
    background: lightpink;
    color: white;
}

#message {
    text-align: center;
    font-weight: bold;
}

/* Responsive using Media Query */
@media (max-width: 480px) {
    .buttons {
        flex-direction: column;
    }
}
